<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>977987831887-kgcnoab437nsc2qhkqopbalhtllclcva.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.977987831887-kgcnoab437nsc2qhkqopbalhtllclcva</string>
	<key>API_KEY</key>
	<string>AIzaSyCKVXLlM0h7AX6lC6aBxpVi4NZoLqh4-l0</string>
	<key>GCM_SENDER_ID</key>
	<string>977987831887</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterWhatsappClone</string>
	<key>PROJECT_ID</key>
	<string>flutter-whatsapp-clone-dacf1</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-whatsapp-clone-dacf1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:977987831887:ios:3417a3481108ebdd9dc23a</string>
</dict>
</plist>